#image{
    width: 100% !important;
    height: 40% !important;
}
.cardHeight{
    height: 100%;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60pt;
    text-align: center;
    line-height: 60pt;
}
.searchDivision{
    border: 1px solid gray;
    border-radius: 5px;
    width: auto;
    height:auto;
    padding: 0 0 0 50px;
    margin: 0 0 20px 0;
}
.fl-right{
    float: right;
}
.div-align-left{
    text-align: left;
}
.div-align{
    text-align: center;
}
.title{
    font-family: 'Work Sans', sans-serif;
    font-size: 40pt;
    text-align: center;
}

h3{
    font-family: 'Ubuntu', sans-serif;
}